<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
             html: {method: :put, class: 'form-horizontal', :multipart => true}) do |f| %>

    <div class="form-group">
      <div class="col-sm-2 control-label">
        <%= image_tag resource.avatar.url(:medium), class: "img-circle", width: "100px", height: "100px" %>
      </div>
    </div>
    <%= devise_error_messages! %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <%= f.label :first_name, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :last_name, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.email_field :email, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :avatar, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.file_field :avatar, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :role, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.collection_select :role, User.get_roles, :first, :last, {}, {class: 'form-control'} %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :current_password, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit "Update", :class => 'btn btn-default' %>
      </div>
    </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name),
                          data: {confirm: "Are you sure?"}, method: :delete, :class => 'btn btn-default' %></p>

<%= link_to "Back", articles_path, :class => 'btn btn-default' %>
