<% if comment.body.present? %>
<div class="media delete-sweet-alert-wrapper">
  <hr/>
  <a class="pull-left" href="#">
    <%= image_tag comment.user.avatar.url(:medium), class: "media-object img-circle",
                  width: '64px', height: '64px',  alt: comment.user.get_name %>
  </a>
  <div class="media-body">
    <h4 class="media-heading">
      <%= comment.user.get_name %>
      <small>commented <%= time_ago_in_words(comment.created_at) %> ago</small>
      <div class="pull-right">
        <small>
        <% if can? :destroy, comment%>
            <%= link_to 'Delete', [comment.article, comment], #method: :delete,
                        # data: { confirm: 'Are you sure?' },
                        class: 'text-danger delete-sweet-alert' %>
        <% end %>
        </small>
      </div>
    </h4>
    <div class="embed">
      <%= comment.body %>
    </div>
    <%= render 'comments/rating_form', comment: comment %>
  </div>
</div>
<% end %>