<div class="well">
  <h4>Leave a Comment:</h4>
  <%= form_for([@article, @article.comments.build]) do |f| %>
      <% if @comment.present? && @comment.errors.any? %>
          <p class="text-danger">
            <%= pluralize(@comment.errors.count, "error") %> prohibited
            this comment from being saved:
          <ul class="text-danger">
            <% @comment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
          </p>
      <% end %>
      <div class="form-group">
        <%= f.text_area :body, {class: 'form-control', rows: '3'} %>
      </div>
      <%= f.submit 'Submit', :class => 'btn btn-primary' %>
  <% end %>
</div>