<% if user_signed_in? %>
    <div id="rate_comment_<%= comment.id %>" class="rating-wrap pull-right">
      <%= render 'comments/rate_up', comment: comment %>
      <% if comment.rating > 0 %>
          <span class="rating-container rating-green"><%= comment.rating %></span>
      <% elsif comment.rating < 0 %>
          <span class="rating-container rating-red"><%= comment.rating %></span>
      <% else %>
          <span class="rating-container"><%= comment.rating %></span>
      <% end %>
      <%= render 'comments/rate_down', comment: comment %>
    </div>
<% end %>