<%= render 'shared/pagination', items: @articles %>
<% for article in @articles %>
    <div class="delete-sweet-alert-wrapper">
      <hr/>
      <h2>
        <%= link_to article.title, article_path(article) %>
      </h2>

      <div class="pull-right">
        <% if user_signed_in? %>
            <% if can? :update, article %>
                <%= link_to 'Edit', edit_article_path(article), class: 'text-warning', role: 'button' %> |
            <% end %>
            <% if can? :destroy, article %>
                <%= link_to 'Delete', article_path(article), #method: :delete, data: { confirm: 'Are you sure?' },
                            class: 'text-danger delete-sweet-alert', role: 'button' %></td>
            <% end %>
        <% end %>
      </div>
      <p class="lead">
        by <a href="<%= user_path(article.user) %>"><%= article.user.get_name %></a>
      </p>

      <p>
        <small class="text-muted">
          Posted on <%= article.created_at.strftime("%B %e, %Y at %l:%M %p") %>
        </small>
        <small class="text-muted pull-right">
          Comments: <%= article.comments.count %>
        </small>
      </p>
      <%= truncate(article.text, :length => 500) %>
      </p>
      <%= link_to 'Read More', article_path(article), class: 'btn btn-primary' %>
      <%= render 'articles/rating_form', article: article %>
    </div>
<% end %>
<%= render 'shared/pagination', items: @articles %>