<legend><%= article_form_legend %></legend>
<div class="well">
  <%= form_for @article, html: { class: 'form-horizontal'} do |f| %>
    <% if @article.errors.any? %>
        <p class="text-danger">
            <%= pluralize(@article.errors.count, "error") %> prohibited
            this article from being saved:
        <ul class="text-danger">
            <% @article.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </p>
    <% end %>
    <div class="form-group">
        <div class="col-sm-12">
            <%= f.text_field :title, {class: 'form-control', placeholder: 'Title'} %>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
        <%= f.text_area :text, {class: 'form-control', rows: '5'} %>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <%= f.submit 'Submit', :class => 'btn btn-primary' %>
        </div>
    </div>
<% end %>
</div>