<% if user_signed_in? %>
    <div id="rate_article_<%= article.id %>" class="rating-wrap pull-right">
      <%= render 'articles/rate_up', article: article %>
      <% if article.rating > 0 %>
          <span class="rating-container rating-green"><%= article.rating %></span>
      <% elsif article.rating < 0 %>
          <span class="rating-container rating-red"><%= article.rating %></span>
      <% else %>
          <span class="rating-container"><%= article.rating %></span>
      <% end %>
      <%= render 'articles/rate_down', article: article %>
    </div>
<% end %>