<%= form_for(article, url: ratings_article_url, method: :post, remote: true) do |f| %>
    <%= f.hidden_field :id %>
    <% if article.user_rating(current_user) > 0 %>
        <%= f.hidden_field :rating, value: 0 %>
        <%= f.submit "", class: "rate_up rate-up-js" %>
    <% else %>
        <%= f.hidden_field :rating, value: 1 %>
        <%= f.submit "", class: "rate_up" %>
    <% end %>
<% end %>