<h1>Listing articles</h1>

<% if user_signed_in? %>

<% end %>
<div style="margin-bottom: 10px">
  <%= form_tag articles_path, :method => :get, :remote => false, :id => "articles_search" do %>
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search' %>
          <span class="input-group-btn">
            <%= submit_tag "Search", :name => nil, :class => "btn btn-default" %>
          </span>

        </div>
      </div>
    </div>
  <% end %>
</div>
<div id="articles">
  <%= render 'articles' %>
</div>
