<h1><%= @article.title %></h1>
<p class="lead">
  by <a href="#"><%= @article.user.get_name %></a>
</p>
<hr>
<p class="text-muted"> Posted on <%= @article.created_at.strftime("%B %e, %Y at %l:%M %p") %></p>
<%= link_to 'Back', articles_path, class: 'btn btn-default' %>
<% if user_signed_in? %>
    <% if can? :update, @article %>
        <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-warning' %>
    <% end %>
<% end %>
<hr>
<div class="embed">
  <%= @article.text %>
</div>
<%= render 'rating_form', article: @article %>
<hr>
<% if user_signed_in? %>
    <%= render 'comments/form', comment: @comment %>
<% end %>
<%= render @comments %>

