<% user ||= @user %>
<% unless current_user?(user) %>
    <div id="subscribe_form_<%= user.id %>" class="subscribe_form">
      <% if current_user.subscribing?(user) %>
          <%= render 'unsubscribe', user: user %>
      <% else %>
          <%= render 'subscribe', user: user %>
      <% end %>
    </div>
<% end %>