<%= form_for(current_user.subscriptions.build(author_id: user.id), remote: true) do |f| %>
    <div><%= f.hidden_field :author_id %></div>
    <%= f.submit "Subscribe", class: "btn btn-large btn-primary" %>
<% end %>