<li>
  <%= image_tag user.avatar.url(:small), alt: user.get_name, class: 'img-circle', width: '50px', height: '50px' %>
  <%= link_to user.get_name, user %>
  <div class="pull-right">
    <%= render 'subscribe_form', user: user if user_signed_in? %>
  </div>
</li>