<% provide(:title, @user.get_name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= image_tag @user.avatar.url(:medium), class: 'img-circle', width: '100px', height: '100px', alt: @user.get_name %>
        <%= @user.get_name %>
      </h1>
      <% if @user == current_user %>
      <span><%= link_to 'edit profile', edit_user_registration_url %></span>
      <% end %>
      <span class="text-muted"><b>Articles:</b> <%= @articles.count %></span>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <%= render 'subscribe_form' if user_signed_in? %>
    <% if @articles.any? %>
        <div id="articles">
          <%= render 'articles/articles' %>
        </div>
    <% else %>
        <i>There are no any microposts yet.</i>
    <% end %>
  </div>

</div>