<% provide(:title, 'Subscribers') %>
<h1>Subscribers</h1>

<%= render 'shared/pagination', items: @users %>
<ul class="users">
  <%= render @users %>
</ul>
<%= render 'shared/pagination', items: @users %>