<% provide(:title, 'Subscriptions') %>
<h1>Subscriptions</h1>

<%= render 'shared/pagination', items: @users %>
<ul class="users">
  <%= render @users %>
</ul>
<%= render 'shared/pagination', items: @users %>