<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put, class: 'form-horizontal'}) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-group">
    <%= f.label :password, "New password", class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "Confirm new password", class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Change my password", :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
