<% @user ||= current_user %>
<div class="stats">
  <a href="<%= subscriptions_user_url @user %>">
    <strong id="subscriptions" class="stat">
      <%= @user.subscribing_users.count %>
    </strong>
    subscriptions
  </a>
  <a href="<%= subscribers_user_url @user %>">
    <strong id="subscribers" class="stat">
      <%= @user.subscribers.count %>
    </strong>
    subscribers
  </a>
</div>