// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field_with_errors input, .field_with_errors label{
  border-color: #b94a48;
  color: #b94a48;
}

.rating-wrap {
  width: 100px;
}

.rating-wrap .rate_down,
.rating-wrap .rate_up {
  display: inline-block;
  height: 9px;
  margin: 6px 6px;
  width: 15px;
  border: 0px;
  float: left;
}

.rating-wrap .rate_up.rate-up-js {
  background: url("/assets/rate_icons.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.rating-wrap .rate_down.rate-down-js {
  background: url("/assets/rate_icons.png") no-repeat scroll 0 -38px rgba(0, 0, 0, 0);
}

.rating-wrap .rating-container {
  color: #b9b9b9;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  margin: 0 5px;
  float: left;
  width: 35px;
  text-align: center;
}

.rating-wrap .rating-green {
  color: #0cb379;
}

.rating-wrap .rating-red {
  color: #ff5059;
}

.rate_up {
  background: url("/assets/rate_icons.png") no-repeat scroll 0 -12px rgba(0, 0, 0, 0);
}

.rate_down {
  background: url("/assets/rate_icons.png") no-repeat scroll 0 -25px rgba(0, 0, 0, 0);
}